	
	@charset "UTF-8";
	
	@font-face{
		font-family: Georgia, serif;
	}

 	body {
		font-family: Georgia, serif;
		height: 100%;
		margin: 0;
    	font-size: 18px;
		color: FFFFFF;
  	}
	
	
	html {
		height: 100%;
		margin: 0;
	}
	
	.bg {
		/* The image used */
		background-image: url("../img/Minimal_Mountains.jpg");
		height: 100%; 
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow:inset 0 0 0 2500px rgba(0, 0, 0, 0.2);
	}

	.main {
		text-align:center;
		width:100%;
		float:left; 
	}
	
	.middle {
		text-align:center;
		width:100%;
		position: fixed;
		top: 38%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
		
	.fav {
		text-align:center;
		position: fixed;
		bottom: 200px;
		width: 100%;
	}
	
	.quotes {
		text-align:center;
		position: absolute;
		bottom: 30px;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	.image-group {
		display:inline-block;
		margin-left:30px;
		margin-right:30px;
	}
	
	.img-fav {
		vertical-align: middle;
		width:50px;
		margin-left:7px;
		margin-right:7px;
        border-radius:25px;
	}

	.img-fav:hover {
		-moz-box-shadow: 0 0 5px #3f3f3f;
		-webkit-box-shadow: 0 0 5px #3f3f3f;
		box-shadow: 0px 0px 5px #3f3f3f;
	}
	
	.input-text { 
		height: 50px; 
		font-size: 14px;
		padding: 5px;
	} 
	
	form{
		margin: auto;
	}
	
	.search { 
		padding:6px 15px 6px 30px;
		margin:3px; 
	}

	.rounded { 
		border-radius:5px; 
		-moz-border-radius:5px; 
		-webkit-border-radius:5px; 
	}

	input[type=text]{
		color:ffffff;
		height:35px;
		width:30%;
		caret-color: transparent;
	}

	input[type=button], input[type=button]:hover {
		position:relative; 
		left:-6px;
		border:1px solid #adc5cf;
		background: #e4f1f9; /* Old browsers */
		background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
		background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
		color:#7da2aa;
		cursor: pointer;
	}

	.forms{
		height:50px;
		padding:40px 25px;
		position: relative;
	}
	.forms input{
		padding: none;
		border:1px solid #424242;
		background-color:#424242;
		outline:none;
		font-size: 15px;
	}
